@page
@model AuthorizationServer.Pages.AuthenticateModel
@{
}

<h2>Authentication</h2>

<div>@Model.AuthStatus</div>
<div>Return URL: @Model.ReturnUrl</div>

<form method="post">
    <input name="login" value="@Model.Login" />
    <input name="password" value="@Model.Password" />

    <input type="submit" value="Login" />
</form>

<a asp-page="/Registration" asp-route-returnUrl="@Model.ReturnUrl">Registration</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
